#container {
    max-width: 1200px;
    margin: auto;
}
tr>td {
    text-align: center;
}
form {
    text-align: center;
}
.matchcard:hover {
    background-color: aliceblue;
}
.championphoto {
    height: 80px;
}
.augments {
    min-width: 360px;
}
.augments>img {
    height: 60px;
    background-color: black;
}
.items {
    min-width: 420px;
}
.items>img {
    height: 60px;
    background-color: black;
}

#result {
    display: none;
}
/* https://www.w3schools.com/css/tryit.asp?filename=trycss_align_transform */
#startscreen {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}